Funding Project Automation.json
{
  "name": "Funding Project Automation",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b65b63c8-73bd-45bb-8fc3-a1c7da3d2672",
      "name": "Telegram Trigger",
      "webhookId": "884736a7-54a1-4eb9-9269-49df348884f3",
      "credentials": {
        "telegramApi": {
          "id": "H1XX4fxrAsmNq0i8",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa9f9aa3-7881-4ee2-9a95-f3a5c3163daa",
              "leftValue": "={{ $json.message.document.mime_type }}",
              "rightValue": "=application/pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "5d5a0e71-6ec5-44e8-9d25-2570990deb6d",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{YOUR_TELEGRAM_BOT_TOKEN}/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=file_id",
              "value": "={{ $json.message.document.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -16
      ],
      "id": "3eaeddde-a469-46b0-b109-0a8bceea161f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{YOUR_TELEGRAM_BOT_TOKEN}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        128
      ],
      "id": "7cebc45a-7c01-47ff-bcb2-f492a68f299f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        656,
        128
      ],
      "id": "4fb2681d-3af7-448a-a632-6ce2e0c7b50c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "أنت مساعد متخصص في استخراج البيانات من سندات لأمر.\n\nعند استلام نص سند لأمر، استخرج البيانات التالية بدقة.\n\nبعد الاستخراج، احسب المبلغ بهذه المعادلة:\nالمبلغ = (قيمة السند - 500) / 1.3\n\nأرجع النتيجة بصيغة JSON فقط بدون أي نص إضافي وبدون علامات كود:\n\n{\"اسم العميل\":\"\",\"هوية العميل\":\"\",\"المبلغ\":\"\",\"التاريخ\":\"\",\"تاريخ الاستحقاق\":\"\",\"رقم السند\":\"\"}\n\nتنبيهات:\n- ضع مسافة بين كل اسم في اسم العميل\n- المبلغ يكون الناتج بعد المعادلة وليس قيمة السند الأصلية\n- التاريخ بصيغة DD/MM/YYYY\n- لا تضف أي نص قبل أو بعد JSON\n- لا تستخدم علامات كود"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        128
      ],
      "id": "98138e71-22ec-41e6-9941-dc7dbedea4bc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        336
      ],
      "id": "c79af80a-f442-4803-a2a4-e031f9ec8417",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VFDKN6P7Wqndb3Ks",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nconst data = JSON.parse(output);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        128
      ],
      "id": "a1be5431-525f-4314-8e01-56264d2ba4bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "{YOUR_GOOGLE_SHEET_ID}",
          "mode": "list",
          "cachedResultName": "{SHEET_NAME}",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{YOUR_GOOGLE_SHEET_ID}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1210035183,
          "mode": "list",
          "cachedResultName": "ورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/{YOUR_GOOGLE_SHEET_ID}/edit#gid=1210035183"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "اسم العميل ": "={{ $json[\"اسم العميل\"] }}",
            "هوية العميل": "={{ $json[\"هوية العميل\"] }}",
            " المبلغ": "={{ $json[\"المبلغ\"] }}",
            "التاريخ": "={{ $json[\"التاريخ\"] }}",
            "تاريخ الاستحقاق": "={{ $json[\"تاريخ الاستحقاق\"] }}",
            "رقم السند": "={{ $json[\"رقم السند\"] }}",
            "المستثمر": "{INVESTOR_NAME}",
            " مبلغ الاستحقاق": "={{ parseFloat($json[\"المبلغ\"]) * 1.3 }}",
            "حالة السداد ": "=={{ false }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "اسم العميل ",
              "displayName": "اسم العميل ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "هوية العميل",
              "displayName": "هوية العميل",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "رقم الجوال",
              "displayName": "رقم الجوال",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " المبلغ",
              "displayName": " المبلغ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " مبلغ الاستحقاق",
              "displayName": " مبلغ الاستحقاق",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "التاريخ",
              "displayName": "التاريخ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "تاريخ الاستحقاق",
              "displayName": "تاريخ الاستحقاق",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "رقم السند",
              "displayName": "رقم السند",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "المستثمر",
              "displayName": "المستثمر",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "حالة السداد ",
              "displayName": "حالة السداد ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "الملاحظات",
              "displayName": "الملاحظات",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "finishReason",
              "displayName": "finishReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        128
      ],
      "id": "ad7088f9-dc66-4006-93df-8435faa129d9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NrtrsU6m1Z9wrFhx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}